# Roger Federer Match Length History Pilot Analysis

Now this is exciting ! We will now go beyond analysing generalized (ie. non player specific) match length data and take a look at a specific player : the GOAT Roger Federer. There are several reasons for this choice (many matches at the top level, long career spanning more than two decades, evolution in terms of playstyle) but mainly Federer is my tennis hero.

The goal here is to obtain a series of weighted variables which would allow us to predict the length of a Roger Federer match against a given opponent, under a given set of match conditions.

In [24]:
### IMPORTS ###

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [25]:
### CLEAN FEDERER MATCHES TABLES ###

atp = pd.read_csv("atp_cat.csv")

fed_won = atp[atp["winner_name"] == "Roger Federer"]    # 1163 wins
fed_lost = atp[atp["loser_name"] == "Roger Federer"]    # 261 loses (82% winrate) (1424 matches total)

# We'll drop all of Federer's information except his age
fed_won = fed_won.drop(labels=["winner_name", "winner_hand", "winner_ht", "winner_ioc"], axis=1)
fed_won = fed_won.rename(columns={"winner_age": "fed_age", "winner_rank": "fed_rank", "winner_rank_points": "fed_rank_points",
                                  "loser_name":"opp_name", "loser_hand":"opp_hand", "loser_ht":"opp_ht", "loser_ioc":"opp_ioc", "loser_age":"opp_age",
                                  "loser_rank": "opp_rank", "loser_rank_points": "opp_rank_points"})
fed_won["fed_won"] = "1"

fed_lost = fed_lost.drop(labels=["loser_name", "loser_hand", "loser_ht", "loser_ioc"], axis=1)
fed_lost = fed_lost.rename(columns={"loser_age": "fed_age", "loser_rank": "fed_rank", "loser_rank_points": "fed_rank_points",
                                    "winner_name":"opp_name", "winner_hand":"opp_hand", "winner_ht":"opp_ht", "winner_ioc":"opp_ioc", "winner_age":"opp_age",
                                    "winner_rank": "opp_rank", "winner_rank_points": "opp_rank_points"})
fed_lost["fed_won"] = "0"

fed = pd.concat([fed_won, fed_lost])
fed.head(5)    # Clean Table of all Roger Federer ATP matches

,Unnamed: 0,tourney_name,surface,tourney_level,tourney_date,fed_age,opp_name,opp_hand,opp_ht,opp_ioc,opp_age,score,best_of,round,minutes,fed_rank,fed_rank_points,opp_rank,opp_rank_points,fed_won
24932,3086,Toulouse,Hard,A,19980928,17.138946,Guillaume Raoux,R,180.0,FRA,28.618754,6-2 6-2,3,R32,60.0,878.0,9.0,45.0,859.0,1
24941,3095,Toulouse,Hard,A,19980928,17.138946,Richard Fromberg,R,196.0,AUS,28.418891,6-1 7-6(5),3,R16,85.0,878.0,9.0,43.0,927.0,1
25666,251,Marseille,Hard,A,19990201,17.483915,Carlos Moya,R,190.0,ESP,22.431211,7-6(1) 3-6 6-3,3,R32,113.0,243.0,173.0,5.0,3178.0,1
25682,267,Marseille,Hard,A,19990201,17.483915,Jerome Golmard,L,188.0,FRA,25.396304,6-7(6) 7-6(5) 7-6(5),3,R16,140.0,243.0,173.0,63.0,743.0,1
25849,479,Rotterdam,Carpet,A,19990215,17.522245,Guillaume Raoux,R,180.0,FRA,29.002053,6-7(4) 7-5 7-6(3),3,R32,149.0,178.0,262.0,71.0,691.0,1

## Federer Generalities

### Surface

In [26]:
fed_surface = pd.pivot_table(fed, values="minutes", index = ["best_of", "opp_hand"], columns=["surface"]) # average duration per surface
display(fed_surface)
fed['surface'].value_counts(ascending=True)

surface             Carpet        Clay       Grass        Hard
best_of opp_hand
3       L          61.4000   95.363636   72.900000   82.361111
        R          93.1875   88.393750   89.388235   89.526678
5       L              NaN  161.625000  131.315789  131.050000
        R         170.7500  134.097561  124.031579  130.214634

Carpet     57
Grass     209
Clay      280
Hard      878
Name: surface, dtype: int64

## Simple Regression Decision Tree

We will create a simple decision tree using five features :
- Surface  
- Best of  
- Opponent hand  
- Opponent height  
- Ranking difference

### Formatting

In [27]:
fed1 = fed[["minutes", "surface", "opp_hand", "opp_ht"]]
fed1["rank_diff"] = fed["fed_rank"] - fed["opp_rank"]

# One-Hot Encoding
fed1 = pd.get_dummies(data=fed1, columns=["surface", "opp_hand"])

fed1 = fed1.dropna(axis=0, how='any')

fed1.head(5)

C:\Users\uporito\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,minutes,opp_ht,rank_diff,surface_Carpet,surface_Clay,surface_Grass,surface_Hard,opp_hand_L,opp_hand_R
24932,60.0,180.0,833.0,0,0,0,1,0,1
24941,85.0,196.0,835.0,0,0,0,1,0,1
25666,113.0,190.0,238.0,0,0,0,1,0,1
25682,140.0,188.0,180.0,0,0,0,1,1,0
25849,149.0,180.0,107.0,1,0,0,0,0,1

### Regression Decision Tree

In [28]:
# SETUP #

from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import scale
import matplotlib.pyplot as plt

target='minutes'

X = fed1.drop([target], axis=1)
y = fed1[target]

X = scale(X)
y = scale(y)

Xtrain, Xtest, Ytrain, Ytest = train_test_split(X, y, test_size=.3)

#### Exemple of Regression Tree

In [29]:
# dtr = DecisionTreeRegressor(max_depth=6, min_samples_split=.1)

# dtr.fit(Xtrain, Ytrain)

# Ypred = dtr.predict(Xtest)

# x_ax = range(len(Ytest))
# plt.plot(x_ax, Ytest, linewidth=1, label="original")
# plt.plot(x_ax, Ypred, linewidth=1.1, label="predicted")
# plt.title("Y-test and y-predicted data")
# plt.xlabel('X-axis')
# plt.ylabel('Y-axis')
# plt.legend(loc='best',fancybox=True, shadow=True)
# plt.grid(True)
# plt.show()

# plt.figure(figsize=(30,15))
# tree.plot_tree(dtr,
#           filled=True,
#           rounded=True,
#           fontsize=10,
#           feature_names=["opp_ht", "rank_diff", "surface_Carpet", "surface_Clay", "surface_Grass", "surface_Hard", "opp_hand_L", "opp_hand_R"])

# plt.savefig('tree_high_dpi', dpi=600)

### Cross Validation

We want to find good values for our parameters and to get an an idea of how our regression trees compare to each other. In order to do that, we will do a K-fold validation, with K = 10.

In [30]:
# Parameters

K = 10

MAX_DEPTH=np.arange(3, 10)
MIN_SAMPLE=[0.5, 0.4, 0.3, 0.2, 0.1, 0.05]
# MAX_DEPTH=np.arange(3, 5)   # d depths
# MIN_SAMPLE=[0.1]            # s sample ratios

# We will define d x s Regression Trees RT(d,s)

![score formula](res/score.png "sklearn score")

In [31]:
# Basic Error Loop

scores = [[] for n in range(len(MAX_DEPTH))]   # sklearn Decision Tree score (max = 1)
MSE = [[] for n in range(len(MAX_DEPTH))]      # Mean Squared Error
RMSE = [[] for n in range(len(MAX_DEPTH))]     # Root Mean Squared Error

for i in range(len(MAX_DEPTH)) :

    for j in range(len(MIN_SAMPLE)) :

        d = MAX_DEPTH[i]
        s = MIN_SAMPLE[j]

        # print(f"Max depth : {d} , Min sample : {s}")

        dtr = DecisionTreeRegressor(max_depth=d, min_samples_split=s)

        dtr.fit(Xtrain, Ytrain)

        score = dtr.score(Xtrain, Ytrain)   
        scores[i].append(score)
        # print(f"score : {score}.")

        Ypred = dtr.predict(Xtest)

        mse = mean_squared_error(Ytest, Ypred)  # mean of (y_true - y_pred)**2

        MSE[i].append(mse)
        # print(f"MSE : {mse}.")

scores_df = pd.DataFrame(data=scores, index=MAX_DEPTH, columns=MIN_SAMPLE)
index = scores_df.index
index.name = "scores"
display(scores_df)
MSE_df = pd.DataFrame(data=MSE, index=MAX_DEPTH, columns=MIN_SAMPLE)
index = MSE_df.index
index.name = "MSE"
display(MSE_df)

            0.50      0.40      0.30      0.20      0.10      0.05
scores
3       0.064660  0.064660  0.112281  0.112281  0.112281  0.115253
4       0.067992  0.067992  0.115613  0.122808  0.122808  0.138558
5       0.067992  0.070832  0.118454  0.129711  0.131106  0.149279
6       0.067992  0.070832  0.121098  0.132356  0.138455  0.159084
7       0.067992  0.070832  0.121098  0.136315  0.150426  0.181022
8       0.067992  0.070832  0.121098  0.136315  0.158343  0.196568
9       0.067992  0.070832  0.121098  0.136315  0.160817  0.206083

        0.50      0.40      0.30      0.20      0.10      0.05
MSE
3    0.93046  0.930460  0.955206  0.955206  0.955206  0.959290
4    0.93441  0.934410  0.959157  0.955750  0.955750  0.976611
5    0.93441  0.933215  0.957961  0.956752  0.961246  0.984016
6    0.93441  0.933215  0.954809  0.953599  0.961374  0.987765
7    0.93441  0.933215  0.954809  0.967796  0.974786  1.020635
8    0.93441  0.933215  0.954809  0.967796  0.977895  1.042185
9    0.93441  0.933215  0.954809  0.967796  0.978251  1.060655

In [34]:
CV = model_selection.KFold(n_splits=K,shuffle=True)

test_errors = [[[]for n in range(len(MIN_SAMPLE))] for n in range(len(MAX_DEPTH))]  # list of K test errors for every RT(d,s) Regression Tree

k=0

for train_index, test_index in CV.split(X, y):
    # Cross-validation loop

    print(f'   K-validation fold: {k+1}/{K}')  
    # print(train_index, test_index)

    
    # extract training and test set for current CV fold
    X_Kj_train = X[train_index,:]
    y_Kj_train = y[train_index]
    X_Kj_test = X[test_index,:]
    y_Kj_test = y[test_index]

	# Fit and evaluate models
    for i in range(len(MAX_DEPTH)) :

        for j in range(len(MIN_SAMPLE)) :

            d = MAX_DEPTH[i]
            s = MIN_SAMPLE[j]

            # print(f"Max depth : {d} , Min sample : {s}")

            dtr = DecisionTreeRegressor(max_depth=d, min_samples_split=s)

            dtr.fit(X_Kj_train, y_Kj_train)

            score = dtr.score(X_Kj_train, y_Kj_train)   

            Ypred_Kj = dtr.predict(X_Kj_test)

            mse = mean_squared_error(y_Kj_test, Ypred_Kj)
            test_errors[i][j].append(mse)

    k+=1

print("[Test errors] :")
print(test_errors)
gen_error = np.sum(test_errors, axis=2)
print("[Generalized errors] :")
print(gen_error)
N = np.argmin(gen_error)
print(f"Optimal Regressor Tree parameters : d = {MAX_DEPTH[N // len(MIN_SAMPLE)]}, s = {MIN_SAMPLE[N % len(MIN_SAMPLE)]}")

   K-validation fold: 1/10
   K-validation fold: 2/10
   K-validation fold: 3/10
   K-validation fold: 4/10
   K-validation fold: 5/10
   K-validation fold: 6/10
   K-validation fold: 7/10
   K-validation fold: 8/10
   K-validation fold: 9/10
   K-validation fold: 10/10
[Test errors] :
[[[0.9274924580070096, 0.8671902072753124, 1.16615991244023, 0.767865599370658, 0.9889002662572732, 1.034986534146797, 1.051793770892375, 0.9580517597674174, 0.9355346074209016, 0.89260775320834], [0.9274924580070096, 0.8845724283360801, 1.1661599124402298, 0.7690998468015791, 0.99631897972534, 1.017515096039596, 1.051793770892375, 0.9580517597674174, 0.9573326271166398, 0.8926077532083401], [0.9204337127562063, 0.8371929965621486, 1.1680543392082106, 0.7787056950297299, 0.9282850949861473, 1.0080698568836715, 1.0603581778371047, 0.9917581577281371, 0.9640549507280882, 0.926495491107629], [0.9068683319775399, 0.8403546392406168, 1.146544938253435, 0.8070358850261717, 0.896177603811921, 1.0222214519172983, 1.0566607317038301, 0.9917581577281371, 0.9291035852425917, 0.926495491107629], [0.8953149839430549, 0.8403546392406169, 1.188970754039762, 0.8070358850261717, 0.896177603811921, 1.0222214519172983, 1.050320391822376, 0.9917581577281371, 0.9291035852425918, 0.926495491107629], [0.8935480057199122, 0.8403546392406169, 1.188970754039762, 0.8070358850261717, 0.8961776038119209, 1.022221451917298, 1.050320391822376, 0.9917581577281371, 0.9291035852425917, 0.926495491107629]], [[0.9274924580070096, 0.8671902072753124, 1.1661599124402295, 0.767865599370658, 0.9889002662572732, 1.034986534146797, 1.051793770892375, 0.9580517597674174, 0.9355346074209016, 0.8926077532083401], [0.9228530583129717, 0.8845724283360801, 1.1661599124402295, 0.7690998468015791, 0.99631897972534, 1.017515096039596, 1.051793770892375, 0.9580517597674174, 0.9573326271166398, 0.8926077532083401], [0.915794313062168, 0.8346127978744918, 1.1680543392082108, 0.7787056950297299, 0.9405044126840776, 1.0051365895679378, 1.066261036300383, 0.9917581577281371, 0.9501933196066781, 0.926495491107629], [0.8919540629534909, 0.8228129160972495, 1.1610446267409944, 0.7776742104316163, 0.8775706527514864, 1.0104361463356377, 1.0500006266483064, 1.008049617169669, 0.9124246011909977, 0.9158192484427957], [0.8648986377094406, 0.8226297315710208, 1.2034704425273213, 0.7713618374208995, 0.8775706527514863, 1.010436146335638, 1.0599723335329772, 1.008049617169669, 0.9124246011909977, 0.9158192484427959], [0.862169255527007, 0.8200462343474298, 1.2261105774267977, 0.77321349553502, 0.8755811505133588, 1.00824561468395, 1.0627524849611099, 0.9862429484260088, 0.9196104207320446, 0.916621066122389]], [[0.9274924580070097, 0.8671902072753123, 1.1661599124402298, 0.767865599370658, 0.9889002662572732, 1.034986534146797, 1.0517937708923748, 0.9580517597674172, 0.9355346074209016, 0.8926077532083401], [0.9228530583129717, 0.8845724283360801, 1.16615991244023, 0.7690998468015791, 0.99631897972534, 1.017515096039596, 1.051793770892375, 0.9580517597674174, 0.9573326271166398, 0.8926077532083401], [0.915794313062168, 0.8346127978744918, 1.1680543392082106, 0.7787056950297297, 0.9369480664968122, 1.0051365895679378, 1.0743614253990021, 0.9917581577281371, 0.9584663115879063, 0.926495491107629], [0.8847701398630191, 0.8154487243557081, 1.1469711334104538, 0.7739335222495622, 0.8770274153958234, 1.0253000828907788, 1.0581010157469253, 1.0130937496189334, 0.9162912071332022, 0.9012429019112235], [0.8553186838427517, 0.8175057402431171, 1.1961155188089811, 0.7903918111742129, 0.8774900454481066, 1.0264926266791738, 1.0689771152358545, 1.0175955601738058, 0.9172312215254129, 0.9012429019112235], [0.8370140771663097, 0.8149222430195263, 1.2345102795931577, 0.8062346517598453, 0.8755005432099792, 1.0291395856180159, 1.0904086657205623, 0.9964645451767089, 0.921908275137244, 0.894136452673768]], [[0.9274924580070097, 0.8671902072753125, 1.1661599124402298, 0.767865599370658, 0.9889002662572732, 1.034986534146797, 1.0517937708923746, 0.9580517597674174, 0.9355346074209016, 0.8926077532083401], [0.9228530583129717, 0.8845724283360801, 1.16615991244023, 0.7690998468015791, 0.99631897972534, 1.017515096039596, 1.051793770892375, 0.9580517597674172, 0.9573326271166398, 0.89260775320834], [0.915794313062168, 0.8346127978744917, 1.168054339208211, 0.7787056950297299, 0.9449176106697147, 1.005136589567938, 1.0743614253990024, 0.9917581577281374, 0.9593501766599449, 0.926495491107629], [0.8886225962955734, 0.8199054894572492, 1.1468200294343476, 0.7831117169685499, 0.8787926805201458, 1.0232556085301694, 1.0590811548810843, 1.0130937496189334, 0.9171750722052412, 0.9171704749875573], [0.8595905154274679, 0.8146716443150929, 1.1949172941645163, 0.7947822077778679, 0.8777014500042631, 1.0370904613288892, 1.080600672364982, 1.0126090290161456, 0.9171663206313391, 0.9285584719780889], [0.8486446603014792, 0.8242281956750244, 1.2906497471091982, 0.9062238111987624, 0.8733266823428585, 1.0328463638538876, 1.0864280671882591, 0.9961902778136531, 0.925590975163297, 0.9375606774163129]], [[0.9274924580070096, 0.8671902072753124, 1.1661599124402295, 0.767865599370658, 0.9889002662572732, 1.034986534146797, 1.0517937708923748, 0.9580517597674174, 0.9355346074209016, 0.8926077532083401], [0.9228530583129717, 0.8845724283360801, 1.1661599124402295, 0.7690998468015791, 0.99631897972534, 1.0175150960395962, 1.0517937708923748, 0.9580517597674174, 0.9573326271166398, 0.89260775320834], [0.915794313062168, 0.8346127978744918, 1.1680543392082108, 0.7787056950297299, 0.9449176106697147, 1.005136589567938, 1.0743614253990021, 0.9917581577281371, 0.9593501766599449, 0.926495491107629], [0.8886225962955734, 0.819905489457249, 1.1465873679856031, 0.78311171696855, 0.8787926805201459, 1.0270367322278349, 1.0590811548810843, 1.0130937496189334, 0.915464557815122, 0.9242850696469117], [0.8699337970813333, 0.8170162488425448, 1.2030646976852921, 0.8043114996069634, 0.8925739754273118, 1.0465756592739888, 1.094660402637556, 1.0148040064760326, 0.9109780390148414, 0.9400987950786568], [0.8589879419553447, 0.8292220997121006, 1.2988845098535935, 0.921006555848194, 0.8895624073992913, 1.0289401816629091, 1.1673048119883318, 0.9997525705088431, 0.9330138952085477, 0.9518956476069962]], [[0.9274924580070097, 0.8671902072753124, 1.16615991244023, 0.767865599370658, 0.9889002662572732, 1.034986534146797, 1.051793770892375, 0.9580517597674172, 0.9355346074209016, 0.8926077532083401], [0.9228530583129717, 0.8845724283360801, 1.1661599124402298, 0.7690998468015791, 0.99631897972534, 1.0175150960395962, 1.051793770892375, 0.9580517597674174, 0.95733262711664, 0.8926077532083401], [0.915794313062168, 0.8346127978744918, 1.1680543392082108, 0.7787056950297299, 0.9449176106697147, 1.0051365895679378, 1.0743614253990024, 0.9917581577281371, 0.9593501766599449, 0.926495491107629], [0.8886225962955732, 0.8199054894572492, 1.1414837106035411, 0.7831117169685499, 0.8787926805201458, 1.0270367322278349, 1.0590811548810843, 1.0130937496189334, 0.915464557815122, 0.9242850696469117], [0.8897177739376502, 0.8258998470181335, 1.2043588848036155, 0.8213964918491691, 0.9140984200206234, 1.0406335329625425, 1.089206034430983, 1.0151821262903196, 0.8873999169753274, 0.9471854837686038], [0.8872456368384989, 0.8381056978876895, 1.301324300791935, 0.940281481402663, 0.9097442060560738, 1.0208902583045476, 1.1731159091546306, 1.0005710770369463, 0.9120591827231769, 0.9866523495677313]], [[0.9274924580070097, 0.8671902072753124, 1.1661599124402295, 0.767865599370658, 0.9889002662572732, 1.034986534146797, 1.051793770892375, 0.9580517597674174, 0.9355346074209016, 0.8926077532083401], [0.9228530583129717, 0.8845724283360801, 1.16615991244023, 0.7690998468015791, 0.99631897972534, 1.0175150960395962, 1.051793770892375, 0.9580517597674174, 0.9573326271166398, 0.8926077532083401], [0.915794313062168, 0.8346127978744918, 1.168054339208211, 0.7787056950297297, 0.9449176106697147, 1.005136589567938, 1.0743614253990024, 0.9917581577281371, 0.9593501766599449, 0.926495491107629], [0.8886225962955732, 0.8199054894572491, 1.1414837106035414, 0.7831117169685499, 0.8787926805201459, 1.0270367322278349, 1.0590811548810843, 1.0130937496189334, 0.915464557815122, 0.9242850696469117], [0.8891378863209619, 0.8218617334261474, 1.2026569510328922, 0.8444103977414235, 0.9124058673562385, 1.0332385359651197, 1.089206034430983, 1.01564083473006, 0.8966510272899155, 0.9521318620970393], [0.8971505573287216, 0.8335732652757292, 1.319527065979549, 0.9632953872949177, 0.9207218967770117, 1.001418310073141, 1.1720239337901706, 1.0007809477476592, 0.9153679595757633, 0.9777703509483339]]]
[Generalized errors] :
[[ 9.59058287  9.62094463  9.58340847  9.52322082  9.54775294  9.54598597]
 [ 9.59058287  9.61630523  9.57751615  9.42778671  9.44663325  9.45059325]
 [ 9.59058287  9.61630523  9.59033319  9.41217989  9.46836123  9.50023932]
 [ 9.59058287  9.61630523  9.5991866   9.44702857  9.51768807  9.72168946]
 [ 9.59058287  9.61630523  9.5991866   9.45598112  9.59401712  9.87857062]
 [ 9.59058287  9.61630523  9.5991866   9.45087746  9.63507851  9.9699901 ]
 [ 9.59058287  9.61630523  9.5991866   9.45087746  9.65734113 10.00162967]]
Optimal Regressor Tree parameters : d = 5, s = 0.2