# Regression Forest

Our main model will be a regression forest. First, we'll design a generic regression tree model that can be applied to any player based on the Federer pilot tree. We'll then populate a forest with any number of these trees to obtain a distribution of predictions. Hyperparameter selection will be done through GridSearchCV. I'm chosing this approach instead of a classic Forest Regressor because, due to the volatile nature of our problem, it's hard to say whether any individual tree's prediction is better than another's. Thus, I'd like to visualize the whole range of predictions offered by my trees.

In [1]:
### IMPORTS ###

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

!jupyter nbextension enable --py widgetsnbextension --sys-prefix
!jupyter serverextension enable voila --sys-prefix

We select the player and generate a table containing that player's matches which we will store in "player.csv", as to avoid creating one table for each player.  
Note : This setup step has to be repeated each time we change players.

In [79]:
### CLEAN PLAYER MATCHES TABLES ###

PLAYER = "Felix Auger Aliassime"
setup = True

if (setup) :    # Creating the table (if the player.csv table currently contains information for another player)

    atp = pd.read_csv("atp_cat.csv")
    # atp = atp[atp.loser_hand != 'U']
    # atp.to_csv("atp_cat.csv", index=False)

    player_won = atp[atp["winner_name"] == PLAYER]
    player_lost = atp[atp["loser_name"] == PLAYER]

    # We'll drop all of the player's information except his age and rank
    player_won = player_won.drop(labels=["winner_name", "winner_hand", "winner_ht", "winner_ioc"], axis=1)
    player_won = player_won.rename(columns={"winner_age": "player_age", "winner_rank": "player_rank", "winner_rank_points": "player_rank_points",
                                    "loser_name":"opp_name", "loser_hand":"opp_hand", "loser_ht":"opp_ht", "loser_ioc":"opp_ioc", "loser_age":"opp_age",
                                    "loser_rank": "opp_rank", "loser_rank_points": "opp_rank_points"})
    player_won["index2"] = player_won.index
    player_won["player_won"] = "1"

    player_lost = player_lost.drop(labels=["loser_name", "loser_hand", "loser_ht", "loser_ioc"], axis=1)
    player_lost = player_lost.rename(columns={"loser_age": "player_age", "loser_rank": "player_rank", "loser_rank_points": "player_rank_points",
                                        "winner_name":"opp_name", "winner_hand":"opp_hand", "winner_ht":"opp_ht", "winner_ioc":"opp_ioc", "winner_age":"opp_age",
                                        "winner_rank": "opp_rank", "winner_rank_points": "opp_rank_points"})
    player_lost["index2"] = player_lost.index
    player_lost["player_won"] = "0"

    player = pd.concat([player_won, player_lost])
    # player.drop(list(player.filter(regex = 'Unnamed')), axis = 1, inplace = True)
    player.sort_index(inplace=True)

    # Win streaks
    result = player.player_won.astype(int)
    consecutive = result.groupby((result != result.shift()).cumsum()).cumcount()
    wins = pd.DataFrame({"win" : result, "consecutive" : consecutive})
    m = wins.win == 1
    wins.consecutive = wins.consecutive.where(m, 0)
    player["consecutive"] = wins.consecutive

    player.to_csv("player.csv", index=False)     # Saving the table for ease of use

    atp_players = pd.read_csv("atp_players.csv")
    atp_players['name'] = atp_players['name_first'] + ' ' + atp_players['name_last']
    atp_players.to_csv("atp_players.csv", index=False)     # Saving the table for ease of use


else :  # player.csv already contains this player's information

    player = pd.read_csv("player.csv")

    atp_players = pd.read_csv("atp_players.csv")


display(player.tail())
print(f"{PLAYER} has {len(player)} recorded matches.")

,Unnamed: 0,tourney_name,surface,tourney_level,tourney_date,player_age,opp_name,opp_hand,opp_ht,opp_ioc,...,best_of,round,minutes,player_rank,player_rank_points,opp_rank,opp_rank_points,index2,player_won,consecutive
86423,0,Atp Cup,Hard,A,20220103,21.404517,Roberto Bautista Agut,R,183.0,ESP,...,3,F,129.0,11.0,3308.0,19.0,2260.0,86423,1,0
86427,4,Atp Cup,Hard,A,20220103,21.404517,Daniil Medvedev,R,198.0,RUS,...,3,SF,68.0,11.0,3308.0,2.0,8640.0,86427,0,0
86453,30,Atp Cup,Hard,A,20220103,21.404517,Alexander Zverev,R,198.0,GER,...,3,RR,151.0,11.0,3308.0,3.0,7840.0,86453,1,0
86459,36,Atp Cup,Hard,A,20220103,21.404517,Cameron Norrie,L,188.0,GBR,...,3,RR,119.0,11.0,3308.0,12.0,2945.0,86459,1,1
86461,38,Atp Cup,Hard,A,20220103,21.404517,Taylor Fritz,R,193.0,USA,...,3,RR,147.0,11.0,3308.0,23.0,2050.0,86461,0,0

Felix Auger Aliassime has 171 recorded matches.

## Regression Decision Tree

We will create a decision tree using these features :
- Surface  
- Best of  
- Opponent hand  
- Opponent height  
- Opponent country  
- Ranking difference  
- Tournament level  
- Match round (QF, SF, F, etc...)
- Player form  

Some of these features seem irrelevant, and they probably are. However, since we will use GridSearchCV to perform feature selection, we will feed the model all the information we have and let it select what is important (ie. the optimal splits in terms of information gain).

### Formatting

The "player.csv" table contains many unecessary columns. Here, we create a player1 table containing all the features we potentially need for our model and format them correctly. Specifically, we use one-hot encoding to split categorical data into multiple boolean columns.

In [80]:
player1_pf = pd.DataFrame(player[["minutes", "surface", "best_of", "opp_hand", "opp_ht", "opp_age", "tourney_level", "round"]])
player1_pf.loc[:,"rank_diff"] = player.loc[:,"player_rank"] - player.loc[:,"opp_rank"]
player1_pf.loc[:,"consecutive"] = player.loc[:,"consecutive"]

needed_columns = ['minutes', 'opp_ht', 'opp_age', 'rank_diff', 'consecutive',
       'surface_Clay', 'surface_Grass', 'surface_Hard', 
       'best_of_3', 'best_of_5', 'opp_hand_L', 'opp_hand_R', 
       'tourney_level_A', 'tourney_level_G', 'tourney_level_M', 
       'round_F', 'round_QF', 'round_R128', 'round_R16',
       'round_R32', 'round_R64', 'round_RR', 'round_SF']

# One-Hot Encoding
player1 = pd.get_dummies(data=player1_pf, columns=["surface", "best_of", "opp_hand", "tourney_level", "round"])
player1 = player1.dropna(axis=0, how='any')

if (set(needed_columns)).issubset(set(player1.columns.tolist())) :
       player1 = player1[needed_columns]
else :
       print("Not enough data")
       print (player1.columns)
       raise SystemExit(0)

player1.tail(5)

,minutes,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
86423,129.0,183.0,33.722108,-8.0,0,0,0,1,1,0,...,0,0,1,0,0,0,0,0,0,0
86427,68.0,198.0,25.894593,9.0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,0,1
86453,151.0,198.0,24.706366,8.0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
86459,119.0,188.0,26.365503,-1.0,1,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0
86461,147.0,193.0,24.183436,-12.0,0,0,0,1,1,0,...,0,0,0,0,0,0,0,0,1,0


#### Pre-processing

For pre-processing we have three options :
- not scaling x or y
- scaling both x and y
- scaling x but not y   
  
I feel like scaling gives us better results but adds a hurdle in interpreting the tree's visualization since it displays scaled values. We can scale both input and output values back, just not display them with sklearns's plot_tree (or any tree visualization that I've found so far). For now, the roundabout solution is just to print out the scaled input and output.

In [19]:
### PRE-PROCESSING ###

from sklearn import tree
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
from sklearn import model_selection
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

target='minutes'

scale_x = False
scale_y = False

def preprocessing(scale_x=False, scale_y=False) :

    # 1. X, y unscaled
    X = player1.drop([target], axis=1)
    y = np.asarray(player1[target])
    y = y.reshape(-1,1)

    xscaler = StandardScaler()
    yscaler = StandardScaler()

    if (scale_x) :
        print("Scaling X...")
        xscaler.fit(X[['opp_ht', 'opp_age', 'rank_diff']])
        X[['opp_ht', 'opp_age', 'rank_diff']] = xscaler.transform(X[['opp_ht', 'opp_age', 'rank_diff']])

    if (scale_y) :
        print("Scaling y...")
        yscaler.fit(y)
        y = yscaler.transform(y)

    display(pd.DataFrame(X).head())
    display(pd.DataFrame(y).head())

    return X, y, xscaler, yscaler

X, y, xscaler, yscaler = preprocessing(scale_x, scale_y)

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
74871,188.0,31.827515,191.0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
74929,183.0,34.658453,118.0,0,0,0,1,1,0,0,...,0,0,0,0,0,0,1,0,0,0
75506,172.0,24.947296,115.0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
75773,208.0,38.247775,181.0,0,1,0,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0
76064,180.0,27.008898,113.0,0,0,1,0,0,1,0,...,1,0,0,0,1,0,0,0,0,0

       0
0   89.0
1  130.0
2   87.0
3  134.0
4  120.0

#### Building the tree

We will setup 3 functions in order to build and exploit our tree model :  

**1. Parameter Selection** : To build a good tree, we need to select values for the tree's parameters (e.g. max depth, minimum samples per leaf). We'll perform this "Hyperparameter Tuning" using GridSearchCV, a library which selects the best tree by trying every combination of parameters we give it and performing a cross validation. The trees are commpared based on the R² criteria. We could say this is the actual building of the tree.
  
![score formula](res/score.png "sklearn score")  

**2. Custom Prediction** : Our end goal is to predict a match with any given variables. This function does that by building input and output wrapping around the native *dtr.predict* function. It looks complicated because we distinguish 3 cases depending on if we're scaling x and y. The usefulness of this disjunction remains to be discussed.

**3. Tree Visualization** : Sklearn provides a native *dtr.plot* function but doesn't label the branches with True/False. I've looked for another library - pydot - which does that.

In [20]:
### PARAMETER SELECTION ###

from sklearn.model_selection import GridSearchCV

params = {
    # "criterion":("squared_error", "friedman_mse", "absolute_error", "poisson"), 
    "max_depth":np.arange(3, 6), 
    "min_samples_leaf":np.arange(1, 100), 
    # "min_weight_fraction_leaf":[0.5, 0.4, 0.3, 0.2, 0.1, 0.05, 0.075, 0.001], 
    # "max_features":np.arange(1, 25)
}

dtr = DecisionTreeRegressor(random_state=42)
dtr_cv = GridSearchCV(dtr, params, scoring="r2", n_jobs=-1, verbose=0, cv=10)

In [21]:
### CUSTOM PREDICTION ###

def custom_predict(dtr, scale_x, scale_y, height, age, rank_diff, consecutive, surface, best_of, hand, level, round) :
    # returns the predicted length of a match given a set of match conditions

    # surface : clay(1), grass(2), hard(3)
    # best of : 3(1), 5(2)
    # hand : left(1), right(2)
    # level : A(1), D(2), G(3), M(4)
    # round : F(1), QF(2), R128(3), R16(4), R32(5), R64(6), R(7), SF(8)

    surface_input = [0, 0, 0]
    surface_input[surface - 1] = 1

    bo_input = [0, 0]
    bo_input[best_of - 1] = 1

    hand_input = [0, 0]
    hand_input[hand - 1] = 1

    level_input = [0, 0, 0]
    level_input[level - 1] = 1

    round_input = [0, 0, 0, 0, 0, 0, 0, 0]
    round_input[round - 1] = 1

    X_custom = pd.DataFrame(columns=X.columns)


    if (not scale_x and not scale_y) :  # 1. X, y unscaled
        input = [height, age, rank_diff] + [consecutive] + surface_input + bo_input + hand_input + level_input + round_input
        X_custom = pd.DataFrame(columns=X.columns)
        print(input)
        X_custom.loc[0] = input
        display(X_custom)

        print("Prediction : ", dtr.predict(X_custom), " minutes")

        return(dtr.predict(X_custom)[0])

    elif (scale_x and scale_y) :    # 2. X, y scaled
        input = xscaler.transform([[height, age, rank_diff]])
        print(input)
        input = np.append(input[0], [consecutive] + surface_input + bo_input + hand_input + level_input + round_input)

        X_custom.loc[0] = input
        # print("Scaled input : ")
        # display(X_custom)

        print("Scaled Prediction : ", dtr.predict(X_custom), " minutes")
        print("Prediction : ", yscaler.inverse_transform(dtr.predict(X_custom)), " minutes")

        return(yscaler.inverse_transform(dtr.predict(X_custom))[0])

    elif (scale_x and not scale_y) :    # 3. X scaled, y unscaled
        input = xscaler.transform([[height, age, rank_diff]]).tolist()
        input = np.append(input[0], [consecutive] + surface_input + bo_input + hand_input + level_input + round_input)

        X_custom.loc[0] = input
        # print("Scaled input : ")
        # display(X_custom)

        print("Prediction : ", dtr.predict(X_custom)[0], " minutes")

        return(dtr.predict(X_custom)[0])


# e.g. custom_predict(dtr, scale_x, scale_y, 180, 22, 0, 0, 4, 1, 2, 4, 5)

In [22]:
### TREE VISUALIZATION ###

# Without True/False (sklearn)

# x_ax = range(len(ytest))
# plt.plot(x_ax, ytest, linewidth=1, label="original")
# plt.plot(x_ax, ypred, linewidth=1.1, label="predicted")
# plt.title("Y-test and y-predicted data")
# plt.xlabel('X-axis')
# plt.ylabel('Y-axis')
# plt.legend(loc='best',fancybox=True, shadow=True)
# plt.grid(True)
# plt.show()

# plt.figure(figsize=(30,15))
# tree.plot_tree(dtr,
#           filled=True,
#           rounded=True,
#           fontsize=10,
#           feature_names=["opp_ht", "opp_age", "rank_diff", "consecutive", "surface_Carpet", "surface_Clay", "surface_Grass", "surface_Hard", 
#                          "best_of_3", "best_of_5", "opp_hand_L", "opp_hand_R", 
#                          'tourney_level_A', 'tourney_level_D', 'tourney_level_G', 'tourney_level_M', 
#                          'round_F', 'round_QF', 'round_R128', 'round_R16', 'round_R32', 'round_R64', 'round_RR', 'round_SF'])

# # plt.savefig('tree_high_dpi', dpi=600)

# # With True/False label (pydot)

from IPython.display import Image
from six import StringIO
from sklearn.tree import export_graphviz
import pydot

def visualize_tree(dtr) :

    features = list(player1.columns)
    features.remove("minutes")

    dot_data = StringIO()
    export_graphviz(dtr, out_file=dot_data, feature_names=features, filled=True)
    graph = pydot.graph_from_dot_data(dot_data.getvalue())
    display(Image(graph[0].create_png()))

### User Interface

We're building a simple UI to input match and player variables using ipywidgets.

In [23]:
import ipywidgets as widgets
from IPython.display import display

In [81]:
### INTERFACE ###

PLAYER1 = PLAYER
PLAYER2 = 'Rafael Nadal'

# Match Settings

match_settings_title = widgets.Label(value='MATCH CONDITIONS')

surface_radio = widgets.RadioButtons(
    options=['Hard', 'Grass', 'Clay'],
    description='Surface',
    disabled=False
)

best_of_radio = widgets.RadioButtons(
    options=['3', '5'],
    description='Best of',
    disabled=False
)

level_dropdown = widgets.Dropdown(
    description="Level",
    options=['Grand Slam (G)', 'Masters 1000s (M)', 'Other (A)']
)

round_dropdown = widgets.Dropdown(
    description="Round",
    options=['Final', 'Semifinals', 'Quarterfinals', 'R16', 'R32', 'R64', 'R128', 'R']
)

match_inputs_1 = widgets.HBox([surface_radio, best_of_radio])
match_inputs_2 = widgets.HBox([level_dropdown, round_dropdown])

# Players

player1_title = widgets.Label(value='PLAYER 1')

player1_text = widgets.Text(value=PLAYER1, placeholder="Player 1", description='Name')

player1_height_display = widgets.Text(description='Height')
player1_hand_display = widgets.Text(description='Hand')
player1_rank_display = widgets.Text(description='Rank')
player1_age_display = widgets.Text(description='Age')
player1_cons_display = widgets.Text(description='Win streak')

player1_height_display.value = str(atp_players.loc[atp_players.name==PLAYER1, 'height'].values[0])
player1_hand_display.value = str(atp_players.loc[atp_players.name==PLAYER1, 'hand'].values[0])
player1_rank_display.value = str(atp_players.loc[atp_players.name==PLAYER1, 'rank'].values[0])
player1_age_display.value = '25'
player1_cons_display.value = '0'

player1_widgets = widgets.VBox([player1_title, player1_text, player1_height_display, player1_hand_display, player1_rank_display, player1_age_display, player1_cons_display])


player2_title = widgets.Label(value='PLAYER 2')

player2_text = widgets.Text(value=PLAYER2, placeholder="Player 2", description='Name')

player2_height_display = widgets.Text(description='Height')
player2_hand_display = widgets.Text(description='Hand')
player2_rank_display = widgets.Text(description='Rank')
player2_age_display = widgets.Text(description='Age')
player2_cons_display = widgets.Text(description='Win streak')

player2_height_display.value = str(atp_players.loc[atp_players.name==PLAYER2, 'height'].values[0])
player2_hand_display.value = str(atp_players.loc[atp_players.name==PLAYER2, 'hand'].values[0])
player2_rank_display.value = str(atp_players.loc[atp_players.name==PLAYER2, 'rank'].values[0])
player2_age_display.value = '25'
player2_cons_display.value = '0'

player2_widgets = widgets.VBox([player2_title, player2_text, player2_height_display, player2_hand_display, player2_rank_display, player2_age_display, player2_cons_display])


player_inputs = widgets.HBox([player1_widgets, player2_widgets])

display(match_settings_title, match_inputs_1, match_inputs_2)
display(player_inputs)



### BEHAVIOR ###

def player1_eventhandler(change):
    global PLAYER1
    if change.new in atp_players.name.values :
        PLAYER1 = change.new
        player1_height_display.value = str(atp_players.loc[atp_players.name==PLAYER1, 'height'].values[0])
        player1_hand_display.value = str(atp_players.loc[atp_players.name==PLAYER1, 'hand'].values[0])
        player1_rank_display.value = str(atp_players.loc[atp_players.name==PLAYER1, 'rank'].values[0])
        
def player2_eventhandler(change):
    global PLAYER2
    if change.new in atp_players.name.values :
        PLAYER2 = change.new
        player2_height_display.value = str(atp_players.loc[atp_players.name==PLAYER2, 'height'].values[0])
        player2_hand_display.value = str(atp_players.loc[atp_players.name==PLAYER2, 'hand'].values[0])
        player2_rank_display.value = str(atp_players.loc[atp_players.name==PLAYER2, 'rank'].values[0])

player1_text.observe(player1_eventhandler, names='value')
player2_text.observe(player2_eventhandler, names='value')

Label(value='MATCH CONDITIONS')

HBox(children=(RadioButtons(description='Surface', options=('Hard', 'Grass', 'Clay'), value='Hard'), RadioButt…

HBox(children=(Dropdown(description='Level', options=('Grand Slam (G)', 'Masters 1000s (M)', 'Other (A)'), val…

HBox(children=(VBox(children=(Label(value='PLAYER 1'), Text(value='Felix Auger Aliassime', description='Name',…

## Regression Forest

Finally, we're gonna setup a loop to build any number of trees to form a Decision Forest. We'll then visualize the predictions via a histogram acting as a distribution chart. We can set the number of trees (to get an idea, a tree takes 8-10 seconds) as well as the time intervals for the distribution.

In [85]:
# Converting the user inputs into inputs usable by the custom_predict function

sd = { 'Clay':1, 'Grass':2, 'Hard':3 }                                                                  # Surface dictionary
bod = { '3':1, '5':2 }                                                                                  # Best of dictionary
hd = { 'L':1, 'R':2 }                                                                                   # Hand dictionary
ld = { 'Other (A)':1, 'Grand Slam (G)':2, 'Masters 1000s (M)':3 }    # Level dictionary
rd = { 'Final':1, 'Quarterfinals':2, 'R128':3, 'R16':4, 'R32':5, 'R64':6, 'R':7, 'Semifinals':8 }       # Round dictionary

def t2i(dict, text) :   # text to input
    return dict[text]

ht = float(player2_height_display.value)
a = float(player2_age_display.value)
rk = float(player1_rank_display.value) - float(player2_rank_display.value)
c = int(player1_cons_display.value)
s = t2i(sd, surface_radio.value)
bo = int(t2i(bod, best_of_radio.value))
h = t2i(hd, player2_hand_display.value)
l = t2i(ld, level_dropdown.value)
r = t2i(rd, round_dropdown.value)

In [86]:
### REGRESSION FOREST ###

test_scores = []
predictions = []
average_prediction = -1

iter = 10

# UI

iter_label = widgets.Label('Nb of trees')
iter_slider = widgets.IntSlider(value=iter, min=2, max=100)
iter_text = widgets.Text()
widgets.jslink((iter_slider, 'value'), (iter_text, 'value'))
iter_input = widgets.HBox([iter_label, iter_slider, iter_text])

loading_bar = widgets.IntProgress(
    value=0,
    min=0,
    max=iter,
    bar_style='',
    orientation='horizontal'
)
loading_label = widgets.Label(value='Planting Trees...')
loading = widgets.HBox([loading_label, loading_bar])

# The Loop

def random_forest_loop() :
    
    global average_prediction

    for i in range(iter) :

        Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, test_size=.3)
        dtr_cv.fit(Xtrain, ytrain)

        best_params = dtr_cv.best_params_
        print(f"Best parameters: {best_params})")

        dtr = DecisionTreeRegressor(**best_params)
        dtr.fit(Xtrain, ytrain)

        # Testing :

        ypred = dtr.predict(Xtest)

        print(f"Training score {i+1} : ", dtr.score(Xtrain, ytrain))
        print(f"Testing score {i+1} : ", dtr.score(Xtest, ytest))
        test_scores.append(dtr.score(Xtest, ytest))

        predictions.append(custom_predict(dtr, scale_x, scale_y, ht, a, rk, c, s, bo, h, l, r))     # ???

        # visualize_tree(dtr)

        loading_bar.value += 1
        if (i==iter-1) :
            loading_bar.bar_style='success'


        print("------------------------------------------------------------------------------------------------")

    print("------------------------------------------------------------------------------------------------")
    print("Test scores : ", test_scores)
    print("Test scores average : ", sum(test_scores)/len(test_scores))

    average_prediction = sum(predictions) / len(predictions)

    print("------------------------------------------------------------------------------------------------")
    print(f"Predictions : {predictions}")
    print(f"Average predicted length : {average_prediction}")


launch_btn = widgets.Button(description='Plant Forest')

def launch_btn_onclick(change) :
    global iter
    iter = iter_slider.value
    loading_bar.max = iter
    display(loading)
    random_forest_loop()

launch_btn.on_click(launch_btn_onclick)

display(iter_input)
display(launch_btn)

# launch_btn.click()

HBox(children=(Label(value='Nb of trees'), IntSlider(value=10, min=2), Text(value='')))

Button(description='Plant Forest', style=ButtonStyle())

HBox(children=(Label(value='Planting Trees...'), IntProgress(value=0)))

Best parameters: {'max_depth': 3, 'min_samples_leaf': 19})
Training score 1 :  0.23826448357638352
Testing score 1 :  0.2329623542339453
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [114.80327869]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 82})
Training score 2 :  0.02894884077274895
Testing score 2 :  0.1198806236585539
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [103.32222222]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 39})
Training score 3 :  0.14246653673792153
Testing score 3 :  0.1937683527327715
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [102.81395349]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 27})
Training score 4 :  0.1810878959600527
Testing score 4 :  0.2482775996756238
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.825]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 28})
Training score 5 :  0.2279117102419983
Testing score 5 :  0.21024524638294928
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [105.14285714]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 19})
Training score 6 :  0.32058897742857906
Testing score 6 :  0.09229878229080701
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [111.2345679]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 27})
Training score 7 :  0.2043064211292217
Testing score 7 :  0.24165791576817464
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [100.65]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 1})
Training score 8 :  0.381192924885997
Testing score 8 :  0.03284384518889061
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 21})
Training score 9 :  0.24962399474559016
Testing score 9 :  0.07664052478097383
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [100.11111111]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 24})
Training score 10 :  0.23126572552287494
Testing score 10 :  0.1985873724889905
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [99.2]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 28})
Training score 11 :  0.24540498887233408
Testing score 11 :  0.14505352968782814
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [99.53225806]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 24})
Training score 12 :  0.2701015277655807
Testing score 12 :  0.13300923660538844
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [91.51851852]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 27})
Training score 13 :  0.23730492756887211
Testing score 13 :  0.21141949126007797
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [101.65625]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 33})
Training score 14 :  0.2129352401588004
Testing score 14 :  0.23329193129254822
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [102.11111111]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 25})
Training score 15 :  0.20796750000131614
Testing score 15 :  0.2643279247897402
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [97.72222222]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 29})
Training score 16 :  0.2645213072604127
Testing score 16 :  -0.0350960060301202
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [93.4]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 23})
Training score 17 :  0.18904210984317205
Testing score 17 :  0.28909873108643025
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [101.7037037]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 33})
Training score 18 :  0.23901021545222956
Testing score 18 :  0.16276841166360512
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [101.48571429]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 34})
Training score 19 :  0.17302748623266095
Testing score 19 :  0.19933408190137236
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [105.475]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 18})
Training score 20 :  0.197418353004161
Testing score 20 :  0.24610371796864194
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [110.05454545]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 32})
Training score 21 :  0.22909771838923587
Testing score 21 :  0.007374643300245065
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.84782609]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 18})
Training score 22 :  0.24608851019320244
Testing score 22 :  0.2539009295422685
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [113.08333333]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 34})
Training score 23 :  0.17434480414550013
Testing score 23 :  0.11630883589833063
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [103.10869565]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 6})
Training score 24 :  0.4326401052357852
Testing score 24 :  -0.0524181434130806
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [109.25675676]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 24})
Training score 25 :  0.1908977019563206
Testing score 25 :  0.28991619041908534
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [94.52]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 13})
Training score 26 :  0.2832769807264488
Testing score 26 :  0.14889069690377543
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.36633663]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 21})
Training score 27 :  0.24282596118218258
Testing score 27 :  0.21430080832477627
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [109.40298507]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 26})
Training score 28 :  0.24240400918002714
Testing score 28 :  0.14166102035309758
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [100.70588235]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 19})
Training score 29 :  0.17813218423950383
Testing score 29 :  0.2708417174091121
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [107.20720721]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 22})
Training score 30 :  0.3003036057951385
Testing score 30 :  0.08272475875581664
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [95.74074074]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 26})
Training score 31 :  0.26285987631322827
Testing score 31 :  0.09562070410192769
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [103.3]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 16})
Training score 32 :  0.21975957425469472
Testing score 32 :  0.212059094311558
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [109.43181818]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 23})
Training score 33 :  0.31591131247358717
Testing score 33 :  0.10287206126546489
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [113.53409091]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 8})
Training score 34 :  0.32089898928803984
Testing score 34 :  0.08969663540156347
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [113.74157303]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 30})
Training score 35 :  0.2503960487139584
Testing score 35 :  0.1877694619805762
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [101.26666667]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 35})
Training score 36 :  0.20769954978661098
Testing score 36 :  0.11448800959802197
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [104.27906977]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 33})
Training score 37 :  0.1657405353851351
Testing score 37 :  0.21119739184101516
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [106.65909091]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 7})
Training score 38 :  0.38806949280262004
Testing score 38 :  -0.10194378819733507
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.72222222]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 29})
Training score 39 :  0.18411145832619458
Testing score 39 :  0.39676676836648506
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [100.36666667]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 25})
Training score 40 :  0.22750703549500673
Testing score 40 :  0.20218533294384766
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.36363636]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 27})
Training score 41 :  0.3004071044070673
Testing score 41 :  -0.0030076064368207422
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [105.70967742]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 5, 'min_samples_leaf': 20})
Training score 42 :  0.2677110617080194
Testing score 42 :  0.19972304172599953
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [101.03448276]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 17})
Training score 43 :  0.2248160941689732
Testing score 43 :  0.20414542526653923
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [114.39393939]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 16})
Training score 44 :  0.24501305421301345
Testing score 44 :  0.25764785613067154
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [109.45054945]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 24})
Training score 45 :  0.2777212259128742
Testing score 45 :  0.11622308035269457
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [95.46153846]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 35})
Training score 46 :  0.22501323772879545
Testing score 46 :  0.0343490222486913
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [106.68181818]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 25})
Training score 47 :  0.19277852894870218
Testing score 47 :  0.1997287770194398
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [113.11688312]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 37})
Training score 48 :  0.1087735506785239
Testing score 48 :  0.2713546825336919
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [107.72340426]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 21})
Training score 49 :  0.2812229995389234
Testing score 49 :  0.07030008166679169
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [95.37142857]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 17})
Training score 50 :  0.3056983914077047
Testing score 50 :  -0.10461138547325777
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [110.97894737]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 34})
Training score 51 :  0.23010312791097232
Testing score 51 :  0.11495775084215043
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [106.16666667]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 19})
Training score 52 :  0.3007587558888538
Testing score 52 :  -0.09967663292752738
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [99.75]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 27})
Training score 53 :  0.23948853096311085
Testing score 53 :  0.18571514896779984
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [102.27777778]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 5, 'min_samples_leaf': 16})
Training score 54 :  0.30113345505052724
Testing score 54 :  0.15967982458906183
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [96.6]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 29})
Training score 55 :  0.23847099375446124
Testing score 55 :  0.17623910279524257
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [99.94871795]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 34})
Training score 56 :  0.22839877767962857
Testing score 56 :  0.235999691575699
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [98.61764706]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 17})
Training score 57 :  0.2638451193829401
Testing score 57 :  0.17104927677676496
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [104.28571429]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 19})
Training score 58 :  0.31534924088002836
Testing score 58 :  -0.10408870943886428
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [99.]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 5, 'min_samples_leaf': 24})
Training score 59 :  0.2338228652431471
Testing score 59 :  0.17793885295601708
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [99.25]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 9})
Training score 60 :  0.45814111682594527
Testing score 60 :  -0.2140379757862947
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [89.54545455]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 24})
Training score 61 :  0.217892250070702
Testing score 61 :  0.24637229889655332
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [102.88095238]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 5, 'min_samples_leaf': 16})
Training score 62 :  0.3623177537166312
Testing score 62 :  -0.16798417667839605
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [115.36363636]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 30})
Training score 63 :  0.2586939370327568
Testing score 63 :  0.10378375843620635
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [98.46666667]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 26})
Training score 64 :  0.2080859218854072
Testing score 64 :  0.2932808067956304
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [100.96875]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 36})
Training score 65 :  0.2261994715397473
Testing score 65 :  -0.07266055585655296
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.24444444]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 30})
Training score 66 :  0.2824780700917773
Testing score 66 :  0.07493384876896259
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [94.75757576]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 28})
Training score 67 :  0.24127684926082005
Testing score 67 :  0.09643301365116974
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [97.26315789]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 13})
Training score 68 :  0.33207360765186245
Testing score 68 :  0.03616041007385706
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [105.47142857]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 31})
Training score 69 :  0.24579690838302892
Testing score 69 :  0.17247290788950942
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [101.11627907]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 32})
Training score 70 :  0.22080184720767781
Testing score 70 :  0.06016139006889143
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [114.49382716]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 28})
Training score 71 :  0.19102308468562068
Testing score 71 :  0.2828206758646147
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [102.55555556]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 79})
Training score 72 :  0.030295783749030525
Testing score 72 :  0.08190012040132799
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [104.70652174]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 29})
Training score 73 :  0.2025776965194368
Testing score 73 :  0.19103913832808117
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [105.83333333]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 23})
Training score 74 :  0.3185004708001067
Testing score 74 :  0.029658767731549962
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [109.16981132]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 33})
Training score 75 :  0.2090698322607515
Testing score 75 :  0.26515960559467533
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [102.94915254]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 3})
Training score 76 :  0.39781916745915846
Testing score 76 :  0.037906426758260614
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [111.54320988]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 27})
Training score 77 :  0.20872994546779666
Testing score 77 :  0.23796561762972457
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [100.11111111]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 36})
Training score 78 :  0.17116685396934073
Testing score 78 :  0.1913922911926631
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [104.84]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 32})
Training score 79 :  0.2328385292794013
Testing score 79 :  0.0863204036137234
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.28571429]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 22})
Training score 80 :  0.266859979536314
Testing score 80 :  0.12917458836496998
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [111.54929577]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 21})
Training score 81 :  0.1891259524025043
Testing score 81 :  0.3258179899879676
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [113.91044776]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 28})
Training score 82 :  0.2553058661440084
Testing score 82 :  0.1534377860784394
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [108.67391304]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 16})
Training score 83 :  0.2967213488602287
Testing score 83 :  0.14949770955073938
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [95.31578947]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 14})
Training score 84 :  0.3662452980237557
Testing score 84 :  -0.0047632365385876785
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [84.94117647]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 22})
Training score 85 :  0.237634440425863
Testing score 85 :  0.22559922925778697
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [109.66292135]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 29})
Training score 86 :  0.3099279518998883
Testing score 86 :  0.03843231511039136
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [103.41935484]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 12})
Training score 87 :  0.3506751644221171
Testing score 87 :  -0.2173381358651998
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [101.75961538]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 15})
Training score 88 :  0.19458436071724095
Testing score 88 :  0.3023157492525058
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [114.11881188]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 26})
Training score 89 :  0.26231622805671373
Testing score 89 :  0.05297213528633404
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [107.27659574]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 20})
Training score 90 :  0.33267631521584895
Testing score 90 :  -0.1570665481550202
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [94.51515152]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 12})
Training score 91 :  0.34092697283140894
Testing score 91 :  0.06987280604566737
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [106.57894737]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 36})
Training score 92 :  0.17173720754999233
Testing score 92 :  0.19366288985846525
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [109.83333333]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 24})
Training score 93 :  0.22273715952304085
Testing score 93 :  0.28459744966368294
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [99.1]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 24})
Training score 94 :  0.30412027532037733
Testing score 94 :  0.05669045386109928
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [103.09803922]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 26})
Training score 95 :  0.30678026848984774
Testing score 95 :  -0.18411053847595937
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [98.23529412]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 5, 'min_samples_leaf': 14})
Training score 96 :  0.3771158192096121
Testing score 96 :  -0.018639822734190625
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [129.14285714]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 37})
Training score 97 :  0.18291958447074708
Testing score 97 :  0.18147418961248962
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [107.91666667]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 3, 'min_samples_leaf': 10})
Training score 98 :  0.3972653098491511
Testing score 98 :  -0.1536873007492463
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [109.41584158]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 32})
Training score 99 :  0.27193904674881353
Testing score 99 :  0.09729179045836478
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [105.74418605]  minutes
------------------------------------------------------------------------------------------------
Best parameters: {'max_depth': 4, 'min_samples_leaf': 26})
Training score 100 :  0.2322613553932219
Testing score 100 :  0.2540573341668735
[188.0, 24.0, 3.0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0]

,opp_ht,opp_age,rank_diff,consecutive,surface_Clay,surface_Grass,surface_Hard,best_of_3,best_of_5,opp_hand_L,...,tourney_level_G,tourney_level_M,round_F,round_QF,round_R128,round_R16,round_R32,round_R64,round_RR,round_SF
0,188.0,24.0,3.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Prediction :  [111.40740741]  minutes
------------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------------
Test scores :  [0.2329623542339453, 0.1198806236585539, 0.1937683527327715, 0.2482775996756238, 0.21024524638294928, 0.09229878229080701, 0.24165791576817464, 0.03284384518889061, 0.07664052478097383, 0.1985873724889905, 0.14505352968782814, 0.13300923660538844, 0.21141949126007797, 0.23329193129254822, 0.2643279247897402, -0.0350960060301202, 0.28909873108643025, 0.16276841166360512, 0.19933408190137236, 0.24610371796864194, 0.007374643300245065, 0.2539009295422685, 0.11630883589833063, -0.0524181434130806, 0.28991619041908534, 0.14889069690377543, 0.21430080832477627, 0.14166102035309758, 0.2708417174091121, 0.08272475875581664, 0.09562070410192769, 0.212059094311558, 0.10287206126546489, 0.08969663540156347, 0.1877694619805762, 0.11448800959802197, 0.21119739184101516, -0.10194378819733507, 0.39676676836648506, 0.20218533294384766, -0.0030076064368207422, 0.19972304172599953, 0.20414542526653923, 0.25764785613067154, 0.11622308035269457, 0.0343490222486913, 0.1997287770194398, 0.2713546825336919, 0.07030008166679169, -0.10461138547325777, 0.11495775084215043, -0.09967663292752738, 0.18571514896779984, 0.15967982458906183, 0.17623910279524257, 0.235999691575699, 0.17104927677676496, -0.10408870943886428, 0.17793885295601708, -0.2140379757862947, 0.24637229889655332, -0.16798417667839605, 0.10378375843620635, 0.2932808067956304, -0.07266055585655296, 0.07493384876896259, 0.09643301365116974, 0.03616041007385706, 0.17247290788950942, 0.06016139006889143, 0.2828206758646147, 0.08190012040132799, 0.19103913832808117, 0.029658767731549962, 0.26515960559467533, 0.037906426758260614, 0.23796561762972457, 0.1913922911926631, 0.0863204036137234, 0.12917458836496998, 0.3258179899879676, 0.1534377860784394, 0.14949770955073938, -0.0047632365385876785, 0.22559922925778697, 0.03843231511039136, -0.2173381358651998, 0.3023157492525058, 0.05297213528633404, -0.1570665481550202, 0.06987280604566737, 0.19366288985846525, 0.28459744966368294, 0.05669045386109928, -0.18411053847595937, -0.018639822734190625, 0.18147418961248962, -0.1536873007492463, 0.09729179045836478, 0.2540573341668735]
Test scores average :  0.12556721685116265
------------------------------------------------------------------------------------------------
Predictions : [114.80327868852459, 103.32222222222222, 102.81395348837209, 108.825, 105.14285714285714, 111.23456790123457, 100.65, 108.0, 100.11111111111111, 99.2, 99.53225806451613, 91.51851851851852, 101.65625, 102.11111111111111, 97.72222222222223, 93.4, 101.70370370370371, 101.48571428571428, 105.475, 110.05454545454545, 108.84782608695652, 113.08333333333333, 103.1086956521739, 109.25675675675676, 94.52, 108.36633663366337, 109.40298507462687, 100.70588235294117, 107.2072072072072, 95.74074074074075, 103.3, 109.43181818181819, 113.5340909090909, 113.74157303370787, 101.26666666666667, 104.27906976744185, 106.6590909090909, 108.72222222222223, 100.36666666666666, 108.36363636363636, 105.70967741935483, 101.03448275862068, 114.39393939393939, 109.45054945054945, 95.46153846153847, 106.68181818181819, 113.11688311688312, 107.72340425531915, 95.37142857142857, 110.97894736842105, 106.16666666666667, 99.75, 102.27777777777777, 96.6, 99.94871794871794, 98.61764705882354, 104.28571428571429, 99.0, 99.25, 89.54545454545455, 102.88095238095238, 115.36363636363636, 98.46666666666667, 100.96875, 108.24444444444444, 94.75757575757575, 97.26315789473684, 105.47142857142858, 101.11627906976744, 114.49382716049382, 102.55555555555556, 104.70652173913044, 105.83333333333333, 109.16981132075472, 102.94915254237289, 111.54320987654322, 100.11111111111111, 104.84, 108.28571428571429, 111.54929577464789, 113.91044776119404, 108.67391304347827, 95.3157894736842, 84.94117647058823, 109.66292134831461, 103.41935483870968, 101.75961538461539, 114.11881188118812, 107.27659574468085, 94.51515151515152, 106.57894736842105, 109.83333333333333, 99.1, 103.09803921568627, 98.23529411764706, 129.14285714285714, 107.91666666666667, 109.41584158415841, 105.74418604651163, 111.4074074074074]
Average predicted length : 104.48668333927583

In [87]:
### HISTOGRAM ###

# ATP Colors
# Dark blue : #002865
# Light blue : #00AFF0
# Rolland Garros Orange : #CB5A19
# Tennis Ball Yellow : #8CFF00

time_step = 15  # precision : 15/20/30 minutes

def plot_distribution(time_step) : 
    
    fig, ax = plt.subplots(1, figsize=(18,6))

    plt.suptitle(f'Distribution of Match Length Predictions : {PLAYER1} v. {PLAYER2}', fontweight='bold')
    plt.xlabel("Minutes")
    # plt.ylabel("Nb of predictions")

    ax.spines['bottom'].set_visible(True)
    ax.spines['top'].set_visible(False)
    ax.spines['left'].set_visible(False)
    ax.spines['right'].set_visible(False)

    plt.yticks([])
    
    
    intervals=np.arange(0, 300, time_step)
    n, bins, patches = plt.hist(predictions, bins=intervals, color='#00AFF0')

    plt.xticks(bins)
    plt.grid(color='white', lw = 1, axis='x')

    xticks = [(bins[idx+1] + value)/2 for idx, value in enumerate(bins[:-1])]

    for idx, value in enumerate(n) :
        if value > 0 :
            plt.text(xticks[idx], value * 1.05, f"{int(100 * value / iter)}%", ha='center')
            plt.text(xticks[idx], value / 2, int(value), ha='center', color='w', fontweight='semibold')
        
    if (average_prediction >= 0) : plt.axvline(x=average_prediction, color='#CB5A19')
    # plt.axvline(x=116, color='#8CFF00')
    # plt.legend()


    plt.show()

out = widgets.Output()
time_step_slider = widgets.IntSlider(value=time_step, min=5, max=45, step=5, description='Time Step')

with out:
    plot_distribution(time_step)

def time_step_slider_eventhandler(change) :
    out.clear_output()
    with out:
        plot_distribution(change.new)

time_step_slider.observe(time_step_slider_eventhandler, names='value')

display(time_step_slider, out)

IntSlider(value=15, description='Time Step', max=45, min=5, step=5)

Output()